@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Satisfy&display=swap');

*{
   margin : 0;
   padding : 0; 
}

.resultat{
    width : 60vw;
    height : 50vh;
    margin : 15vh auto;
    padding : 5vw;
    text-align: center;
    &__quote{
        font-family : satisfy, cursive;
        font-size: 2em; 
    }
    // &__figure{
    //     border : 1px solid black;
    // }
    // &__divImage{
    //     border : 1px solid black; 
    //     // width : 160px;
    //     // height : 160px; 
    //     // margin : auto;    
    // }
    &__img{
        display : block;
        width : 200px;
        height : 200px;
        border-radius: 100px; 
        margin : 3vh auto;
        object-fit: cover;  
    }
    &__figcaption{
        color : gray;
        font-size: 1.2em;
        
    }
    &__button{
        margin : 5vw;
        padding : 0.3vw;
        
    }
}

